input {
  width: 400px;
  height: 50px;
  border-radius: 10px;
  margin-left: 10px;
}
button {
  border: 1px solid white;
  background: #000000e0 50%;
  border: 0;
  width: 50px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 11px;
  height: 45px;
  color: white;
  cursor: pointer;
}
.but {
  width: 22px;
  height: 22px;
  text-align: center;
  align-items: center;
  background-color: red;
  color: black;
  b {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
  }
}
.textCom {
  button {
    width: 25px;
    height: 25px;
    color: red;
  }
}