.wrapper {
  background: #000000e0 50%;
  padding: 25px;
  flex-direction: column;
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 122px;
  text-decoration: none;
  list-style: none;
  color: white;
}

.midle {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 122px;
  text-decoration: none;
  list-style: none;
  color: white;
}

.right {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 122px;
  text-decoration: none;
  list-style: none;
  color: white;
}

.rright {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 122px;
  text-decoration: none;
  list-style: none;
  color: white;
}
.navi {
  display: flex;
  li {
    margin-bottom: 10px;
    font-weight: 200;
    font-size: 12px;
    color: gray;
  }
  h3 {
    color: white;
  }
}
