.wrapper {
  display: flex;
  flex-direction: row;

  input {
    width: 70px;
    height: 33px;
  }
  b {
    color: white;
  }
}

.sortFrom {
  text-align: left;
  align-items: left;
  display: flex;
  flex-direction: column;
}
