.MuiDrawer {
  display: flex;
  justify-content: space-between;
}
.BarApp {
  background-color: black;
  opacity: 1;
  color: white;
}

p {
  color: white;
  font-size: 25px;
  margin-left: 25px;
  font-family: Orbitron;
}

.input2 {
  min-width: 555px;
  border: 1px solid rgba(0, 0, 0, 0.51);
  font-size: 16px;
  padding-left: 42px;
  height: 43px;
  border-radius: 10px;
  margin-left: px;
}

.categories__wrapper {
    
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  user-select: none;
  color: black;
  font-family: Orbitron;
  font-size: 35px;
  li {
    margin-bottom: 30px;
  }
}

.active {
    font-size: 35px;
  text-align: center;
  color: rgb(248, 6, 6);
  font-family: Orbitron;
  text-decoration: underline;
}

.categories__list {
  cursor: pointer;
}
